@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 250,123, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: black;
  padding: 5rem;
}
